#hero {
  background-color: #1c4676;
}

#hero p {
font-size: 18px;
color: #fff;
}

.lwrn_win {
  width: 80%;
  margin: 0 auto 0;
  padding-top: 100px;
}

.lwrn_win h3 {
  color: #fff;  
  font-weight: bold;
  line-height: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.lwrn_win h3 > span {
  background-color: #f18006;
  padding: 10px;
  border-radius: 30px 30px 30px;
  font-weight: bold;
}