
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


#hero {
  background-color: #1c4676;
}

#hero p {
font-size: 18px;
color: #fff;
}

.lwrn_win {
  width: 80%;
  margin: 0 auto 0;
  padding-top: 50px;
}

.lwrn_win h3 {
  color: #fff;  
  font-weight: bold;
  line-height: 40px;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 20px;
}

.lwrn_win h3 > span {
  background-color: #f18006;
  padding: 10px;
  border-radius: 30px 30px 30px;
  font-weight: bold;
}

.lwrn_win2 {
  color: #fff;
  font-size: 17px;
  padding: 50px 0;
}

.lwrn_benefit {
  color: #fff;
  width: 70%;
  margin: 0 auto 0;
  padding-top: 0px;
  padding-bottom: 15px;  
}

#lwrn_info h3 {
  color: #1c4676;
  font-size: 30px;
  font-weight: bold;
  padding-top: 30px;
}

.lwrn_hr {
  background-color: #f18006;
  width: 300px;
  height: 3px;
  margin: 30px auto 30px;

}

#lwrn_fitur {
  padding: 0 20px 50px;
}

#lwrn_fitur h3 {
  color: #1c4676;
  font-size: 30px;
  font-weight: bold;
  padding-top: 30px;
}

#lwrn_fitur h4 {
  color: #f18006;
  font-size: 20px;
  font-weight: bold;
  padding-top: 10px;
}

#lwrn_closing {
  min-height: 400px;
  background: url(/img/bg.webp) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 15vh;
  padding-left: 20px;
  padding-right: 20px;
}

#lwrn_closing h3 {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 30px;
}

.btn-recruit {
  background: #f18006;
  color: #fff;
  border: 1px solid #fff;
}